body {
  background-color: #011e48;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.newsRow {
  margin-bottom: 1rem;
}
.searchIcon {
  vertical-align: middle;
}

.searchBar {
  background: inherit;
  border: none;
  color: white;
  font-size: 2rem;
}

.searchBar:focus {
  outline-width: 0;
}

.companyText {
  position: absolute;
  top: 0;
  left: 38px;
  opacity: .75;
}
.searchForm {
  position: relative;
}